# Secrets
secrets.json
genius_secrets.json

# Songs
database/songs/*
database/songs_new/*
database/songs_divided/*
database/songs/to_be_converted/*
database/lyrics/*
database/melgrams/*
database/features/*
database/fasttext/*

# Models and history
models/audio/history/*
models/audio/best_models/*
models/audio/histories/*
models/audio/confusion_matrices/*
models/audio/metrics/*
models/audio/tmp/*
models/audio/trained_models/*
models/lyric/fasttext_models/*
models/lyric/history/*
models/lyric/feature_based/*
models/lyric/fasttext/*
models/lyric/xlnet/*
models/lyric/models/lyric/xlnet/*
models/confusion_matrices/*
models/metrics/*
models/trained_models/*

logs/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Notebooks
.ipynb_checkpoints

